.sidebar {
  flex: 1;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-intro {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--green);
  padding-top: 1rem;
  border-top: 0.1rem solid var(--green);
  margin-bottom: 1rem;
  width: 100%;
}

.sidebar-profile-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--green);
}

.sidebar-cat-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--green);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.sidebar-sm-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 0.1rem solid var(--green);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}